<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    Для импортирования файла musicPlayer.properties используем тег <context:property-placeholder-->
    <!--    Файлы которые находятся в папке resources находятся в classpath-->
    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <!--    Интерфейс мы писать не можем,(lass="ru.netology.) так как из интерфейса не возможно создать объект-->
    <!--    должно быть что то конкретное-->
    <bean id="musicBean"
          class="ru.netology.ClassicalMusic">
        <!--        Убираем конструктор, так как такого конструктора у нас нет-->
        <!--        <constructor-arg value="Aleksey"/>   &lt;!&ndash; с помощью constructor-arg передаем строку,
        в данном случае имя  &ndash;&gt;-->
    </bean>
    <bean id="musicPlayer"
          class="ru.netology.MusicPlayer">
        <!--        // пытается создать объект не передавая в конструктор ни чего-->
        <!--        !!!! так как setter называется setMusic, сам Spring при поиске метода setMusic, отметает set и Music -->
        <!--        представляет с маленькой буквы "music". По этому в <property name="music" с маленькой буквы, а когда -->
        <!--        находим setter то передаем в аргументы setMusic на бин ref="musicBean"-->
        <!--        ref - reference - это ссылка, когда мы передаем ссылку в аргументы-->
        <property name="music" ref="musicBean"/>

        <!--=========================================================================================================-->
        <!--        Внедрение зависимостей через данный файл applicationContext.xml-->
        <!--        value - это значение, когда мы передаем значение в аргументы-->
        <!--        <property name="name" value="Some name"/>-->
        <!--        <property name="volume" value="50"/>-->
        <!--=========================================================================================================-->

        <!--=========================================================================================================-->
        <!--        Внедрение зависимостей через данный файл musicPlayer.properties-->
        <!--        value - это значение, когда мы передаем значение в аргументы-->
        <!--        через синтаксис ${} - можно обращаться к нашим значениям из файла musicPlayer.properties-->
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
        <!--=========================================================================================================-->
    </bean>
</beans>