<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

<!--    Интерфейс мы писать не можем,(lass="ru.netology.) так как из интерфейса не возможно создать объект-->
<!--    должно быть что то конкретное-->
    <bean id="musicBean"
          class="ru.netology.RockMusic">
        <!--        Убираем конструктор, так как такого конструктора у нас нет-->
        <!--        <constructor-arg value="Aleksey"/>   &lt;!&ndash; с помощью constructor-arg передаем строку,
        в данном случае имя  &ndash;&gt;-->
    </bean>

</beans>