<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    Для импортирования файла musicPlayer.properties используем тег <context:property-placeholder-->
    <!--    Файлы которые находятся в папке resources находятся в classpath-->
    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <!--    Интерфейс мы писать не можем,(lass="ru.netology.) так как из интерфейса не возможно создать объект-->
    <!--    должно быть что то конкретное-->
    <!-- Инициализируем методы init-method, destroy-method -->
    <bean id="musicBean"
          class="ru.netology.ClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy">
    </bean>
<!--    <bean id="musicPlayer"-->
<!--          class="ru.netology.MusicPlayer"-->
<!--          scope="prototype"> &lt;!&ndash;по дефолту singleton&ndash;&gt;-->
<!--        &lt;!&ndash;        // пытается создать объект не передавая в конструктор ни чего&ndash;&gt;-->
<!--        &lt;!&ndash;        !!!! так как setter называется setMusic, сам Spring при поиске метода setMusic, отметает set и Music &ndash;&gt;-->
<!--        &lt;!&ndash;        представляет с маленькой буквы "music". По этому в <property name="music" с маленькой буквы, а когда &ndash;&gt;-->
<!--        &lt;!&ndash;        находим setter то передаем в аргументы setMusic на бин ref="musicBean"&ndash;&gt;-->
<!--        &lt;!&ndash;        ref - reference - это ссылка, когда мы передаем ссылку в аргументы&ndash;&gt;-->
<!--        <property name="music" ref="musicBean"/>-->

<!--        &lt;!&ndash;=========================================================================================================&ndash;&gt;-->
<!--        &lt;!&ndash;        Внедрение зависимостей через данный файл applicationContext.xml&ndash;&gt;-->
<!--        &lt;!&ndash;        value - это значение, когда мы передаем значение в аргументы&ndash;&gt;-->
<!--        &lt;!&ndash;        <property name="name" value="Some name"/>&ndash;&gt;-->
<!--        &lt;!&ndash;        <property name="volume" value="50"/>&ndash;&gt;-->
<!--        &lt;!&ndash;=========================================================================================================&ndash;&gt;-->

<!--        &lt;!&ndash;=========================================================================================================&ndash;&gt;-->
<!--        &lt;!&ndash;        Внедрение зависимостей через данный файл musicPlayer.properties&ndash;&gt;-->
<!--        &lt;!&ndash;        value - это значение, когда мы передаем значение в аргументы&ndash;&gt;-->
<!--        &lt;!&ndash;        через синтаксис ${} - можно обращаться к нашим значениям из файла musicPlayer.properties&ndash;&gt;-->
<!--        <property name="name" value="${musicPlayer.name}"/>-->
<!--        <property name="volume" value="${musicPlayer.volume}"/>-->
<!--        &lt;!&ndash;=========================================================================================================&ndash;&gt;-->
<!--    </bean>-->
</beans>